<% include('../layouts/header.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        body {
            background: linear-gradient(to right, #3498db, #b13ce7);
            font-family: 'Playfair Display', serif; 
            
        }

        .container {
            margin-top: 70px;
            transition: transform 0.5s ease-in-out;
    
            
            
            
        }
        .container:hover {
            transform: scale(1.05);
            
        }


        form {
            background-color: #a27daa;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            background: linear-gradient(to top, #3550da, #bd78c3);
            
            
        }

        .form-group {
            margin-bottom: 20px;
            
        }

        label {
            font-weight: bold;
            
        }

        .btn-register {
            background-color: #007bff;
            color: #fff;
            background: linear-gradient(to top, #3550da, #bd78c3);
            cursor: pointer;
            border-radius: 50px;
            border-color: #fff;
        }

        .btn-register:hover {
            background-color: #bcc1c7;
        }


        .form-top{
            height: 70px;
        }

        .h{

            text-align: center;
            color: #fff;

        }

        .t{

            text-decoration: underline;
            color: white;

        }
        
    .text-last{
        margin-left: 150px;
        margin-top: 50px;
        color: #dcd2d2;
        
    }
    </style>
</head>
<body>

<div class="container signUp">
    <div class="row justify-content-center">


        <%  %>




        <div class="form-top col-md-6">

            <form action="/signUp" method="post" >
                <h2 class="text-center mt-2 " style="color: #fff; font-style: normal;" >Sign up</h2>

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required placeholder="Enter Name">
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required placeholder="Enter Email">
                </div>

                <div class="form-group">
                    <label for="mobile">Mobile:</label>
                    <input type="text" class="form-control" id="mobile" name="phone" required placeholder="Enter Number">
                </div>

                <!-- <div class="form-group">
                    <label for="image">Profile Image:</label>
                    <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
                </div> -->

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required placeholder="Enter Password">
                </div>
                <button type="submit" class="btn btn-register btn-block">Register</button   >
                    
                    <span
                     class="text-last">Don't have an account? <a href="login" style="color: white;">Login</h4>
                   </span>
                
            </form>

            
        </div>

        
    </div>


</div>

<!-- Bootstrap JS and dependencies (jQuery and Popper.js) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




<% include('../layouts/footer.ejs') %>